header{
    background-color: #242526;
    height: auto;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.header-child{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
}
.header-child:first-of-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    margin: 0px 10px;
}
.sm-brand{
    display: none;
}
.header-input{
    background-color: #3A3B3C;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}
.header-input input{
    color: white;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    width: 100%;
    outline: none;
}

@media screen and (max-width: 768px){
    .sm-brand{
        display: inline-block;
    }   
    .brand{
        display: none;
    }
    .header-input{
        display: none;
    }
}