header{
    background-color: #242526;
    height: auto;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}
header div{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
}
.header-child:first-of-type{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}
.header-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
}
.brand{
    margin-right: 5px;
}
input{
    background-color: #3A3B3C;
    border: none;
    padding: 12px;
    width: 60%;
    border-radius: 18px;
    outline: none;
}